html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  line-height: 1.3;
  font-family: $font__primary;
  font-size: 1rem;
  color: $grayishBlue;
  background-image: url("../images/bg-header-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  @include breakpoint(medium) {
    background-image: url("../images/bg-header-desktop.png");
  }
  @include breakpoint(large) {
    font-size: 1.15rem;
  }
}

h1,
h2,
h3 {
  margin-top: 0px;
  color: $darkGrayishBlue;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  @include breakpoint(large) {
    font-size: 2.125rem;
  }
}

.wrapper {
  padding-bottom: 157px;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1110px;
  margin: auto;
  @include breakpoint(large) {
    padding-bottom: 142px;
  }
}

.centered {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content {
  max-width: 700px;
  img {
    width: 100%;
    height: auto;
    &.medium {
      max-width: 812px;
    }
  }
}

.margin-bottom {
  margin-bottom: 50px;
  line-height: 1.6;
}

// p tags

p {
  margin-top: 0px;
}

p.large {
  font-size: 1.25rem; //20px
}

p.medium {
  font-size: 1rem; //16px
  line-height: 1.5;
  @include breakpoint(large) {
    font-size: 1.125rem; //18px
    line-height: 1.75;
  }
}

p.small {
  font-size: 1rem; //16px
  line-height: 1.75;
  max-width: 350px;
}

.m-b-l {
  margin-bottom: 35px;
  @include breakpoint(large) {
    margin-bottom: 80px;
  }
}

.btn {
  position: relative;
  border-radius: 30px;
  color: #ffffff;
  font-size: 0.875rem;
  border: none;
  padding: 16px 40px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  @include breakpoint-less(small) {
    width: 100%;
  }
}

.btn-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  @include breakpoint(medium) {
    display: block;
  }
}

.btn-ios {
  background-color: $cyan;
  border-bottom: 3px solid $cyan;
  margin-bottom: 20px;
  @include breakpoint(medium) {
    margin-right: 1rem;
    margin-bottom: 0px;
  }
  &:hover {
    background-color: lighten($cyan, 3%);
    box-shadow: 0px 4px 14px rgba($cyan, 0.25);
  }
}

.btn-mac {
  background-color: $lightblue;
  border-bottom: 3px solid $lightblue;
  &:hover {
    background-color: lighten($lightblue, 3%);
    box-shadow: 0px 4px 14px rgba($lightblue, 0.25);
  }
}
